$default: #5B6460;
$accent: #E9ECE0;
$hover: #EB932E;

%DIN-light-300 {
   font-family: 'din_light', sans-serif;
   font-weight: 300;
}

%OpenSans-Light-300 {
   font-family: 'OpenSans-Light', sans-serif;
   font-weight: 300;
}

%OpenSans-SemiBold-600 {
   font-family: 'Mulish-Regular', sans-serif;
   font-weight: 600;
}

%OpenSans-Italic-400 {
   font-family: 'OpenSans-Italic', sans-serif;
   font-weight: 400;
}

%DIN-medium-500 {
   font-family: 'din_medium', sans-serif;
   font-weight: 500;
}

%OpenSans-LightItalic-300 {
   font-family: 'OpenSans-LightItalic', sans-serif;
   font-weight: 300;
}

%Lato-Regular-400 {
   font-family: 'Lato-Regular', sans-serif;
   font-weight: 400;
}

%Handlee-Regular-400 {
   font-family: 'Handlee-Regular', sans-serif;
   font-weight: 400;
}

%OpenSans-Bold-700 {
   font-family: 'OpenSans-Bold', sans-serif;
   font-weight: 700;
}

%Mulish-Regular-400 {
   font-family: 'Mulish-Regular', sans-serif;
   font-weight: 400;
}

%OpenSans-Regular-400 {
   font-family: 'Mulish-Regular', sans-serif;
   font-weight: 400;
}

%title {
   font-size: 40px;
   line-height: 40px;
   color: $default
}

%btn {
   @extend %DIN-light-300;
   background-color: $default;
   font-size: 14px;
   line-height: 28px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #fff;
   border: none;
   cursor: pointer;
   transition: all .2s;
   padding: 0;
   &:hover {
      color: $default;
      background-color: $accent;
   }
}