<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__newsletter">
            <h5 class="footer__title">Newsletter</h5>
            <form class="footer__form" action="#">
               <input class="footer__input" type="email" placeholder="Email Adrdess">
               <button class="footer__btn" type="submit">
                  <svg class="footer__arrov-svg">
                     <use xlink:href="images/sprite.svg#arrow-right" width="33" height="15"></use>
                  </svg>
               </button>
            </form>
            <p class="footer__text">Sign up to our newsletter for special things and receive 10% off your next order.
            </p>
            <div class="footer__copyright">© 2021 The Glass Huts</div>
         </div>
         <div class="footer__info">
            <ul class="footer__list">
               <li class="footer__item">
                  <a class="footer__link" href="#">TERMS AND CONDITIONS</a>
               </li>
               <li class="footer__item">
                  <a class="footer__link" href="#">CENCELLATION POLICY</a>
               </li>
               <li class="footer__item">
                  <a class="footer__link" href="#">PRIVACY POLICY</a>
               </li>
            </ul>
            <ul class="footer__payment">
               <li class="footer__payment-item">
                  <svg class="footer__paypal-svg">
                     <use xlink:href="images/sprite.svg#paypal" width="51" height="51"></use>
                  </svg>
               </li>
               <li class="footer__payment-item">
                  <svg class="footer__mastercard-svg">
                     <use xlink:href="images/sprite.svg#mastercard" width="49" height="49"></use>
                  </svg>
               </li>
               <li class="footer__payment-item">
                  <svg class="footer__visa-svg">
                     <use xlink:href="images/sprite.svg#visa" width="48" height="48"></use>
                  </svg>
               </li>
               <li class="footer__payment-item">
                  <svg class="footer__bank-svg">
                     <use xlink:href="images/sprite.svg#bank-transfer" width="32" height="32"></use>
                  </svg>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<script src="js/main.min.js"></script>
</div>
</body>

</html>