<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
   <div class="wrapper">
      <header class="header">
         <div class="container">
            <nav class="menu">
               <a class="logo" href="index.html">
                  <svg class="logo-svg">
                     <use xlink:href="../images/sprite.svg#logo" width="71" height="65"></use>
                  </svg>
               </a>
               <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
                  <li class="menu__item"><a class="menu__link" href="hut.html">the hut</a></li>
                  <li class="menu__item"><a class="menu__link" href="area.html">The area</a></li>
                  <li class="menu__item"><a class="menu__link" href="booking.html">booking</a></li>
                  <li class="menu__item"><a class="menu__link" href="about.html">about us</a></li>
                  <li class="menu__item"><a class="menu__link" href="faq.html">faq</a></li>
               </ul>
               <div class="menu__flags">
                  <a class="menu__flag" href="#">
                     <svg class="menu__flags-svg">
                        <use xlink:href="../images/sprite.svg#norway-flag" width="25" height="17"></use>
                     </svg>
                  </a>
                  <a class="menu__flag" href="#">
                     <svg class="menu__flags-svg">
                        <use xlink:href="../images/sprite.svg#germany-flag" width="25" height="17"></use>
                     </svg>
                  </a>
                  <a class="menu__flag" href="#">
                     <svg class="menu__flags-svg">
                        <use xlink:href="../images/sprite.svg#gb-flag" width="25" height="17"></use>
                     </svg>
                  </a>
               </div>
               <a class="menu__btn" href="booking.html">Book Now</a>
            </nav>
         </div>
      </header>
   