<main class="main">

   <section class="top-slider wow animate__fadeIn" data-wow-offset="100">
      <div class="container">
         <div class="top-slider__inner">
            <div class="top-slider__item">
               <img class="top-slider__img" src="images/slide-1.jpg" alt="slider image">
               <h3 class="top-slider__title">Find peace in the Forest</h3>
               <p class="top-slider__text">Come and stay in out hut hotel near Mariager Fjord in Denmark</p>
               <button class="top-slider__btn" type="submit">Book Now</button>
               <div class="top-slider__price">
                  <span class="top-slider__price-tag">from</span>
                  <span class="top-slider__price-num">€3.200</span>
                  <span class="top-slider__price-tag top-slider__price-tag--bottom">per night</span>
               </div>
            </div>
            <div class="top-slider__item">
               <img class="top-slider__img" src="images/slide-2.jpg" alt="slider image">
               <h3 class="top-slider__title">Find peace in the Forest</h3>
               <p class="top-slider__text">Come and stay in out hut hotel near Mariager Fjord in Denmark</p>
               <button class="top-slider__btn" type="submit">Book Now</button>
               <div class="top-slider__price">
                  <span class="top-slider__price-tag">from</span>
                  <span class="top-slider__price-num">€3.200</span>
                  <span class="top-slider__price-tag top-slider__price-tag--bottom">per night</span>
               </div>
            </div>
            <div class="top-slider__item">
               <img class="top-slider__img" src="images/slide-1.jpg" alt="slider image">
               <h3 class="top-slider__title">Find peace in the Forest</h3>
               <p class="top-slider__text">Come and stay in out hut hotel near Mariager Fjord in Denmark</p>
               <button class="top-slider__btn" type="submit">Book Now</button>
               <div class="top-slider__price">
                  <span class="top-slider__price-tag">from</span>
                  <span class="top-slider__price-num">€3.200</span>
                  <span class="top-slider__price-tag top-slider__price-tag--bottom">per night</span>
               </div>
            </div>
            <div class="top-slider__item">
               <img class="top-slider__img" src="images/slide-2.jpg" alt="slider image">
               <h3 class="top-slider__title">Find peace in the Forest</h3>
               <p class="top-slider__text">Come and stay in out hut hotel near Mariager Fjord in Denmark</p>
               <button class="top-slider__btn" type="submit">Book Now</button>
               <div class="top-slider__price">
                  <span class="top-slider__price-tag">from</span>
                  <span class="top-slider__price-num">€3.200</span>
                  <span class="top-slider__price-tag top-slider__price-tag--bottom">per night</span>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="cabins">
      <div class="container">
         <div class="cabins__inner">
            <div class="cabins__info">
               <h3 class="cabins__title wow animate__fadeIn" data-wow-offset="100" data-wow-delay=".3s">The Cabins</h3>
               <p class="cabins__text wow animate__fadeIn" data-wow-offset="100" data-wow-delay=".7s">Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by
                  architect Sigurd Larsen. They all have an open space with a double bed, a double sofa bed, kitchen,
                  separate toilet and an outdoor shower. On the roof, surrounded by treetops, there is a terrace, which
                  is about nine meters above ground. The cottages are built around tall, old trees that go through the
                  entire cottage from floor to ceiling.</p>
               <a class="cabins__link wow animate__fadeIn" data-wow-offset="100" data-wow-delay="1.1s" href="#">Read More</a>
            </div>
            <div class="cabins__img-box ">
               <img class="cabins__img wow animate__fadeIn" src="images/cabins-image.jpg" alt="cabins image">
            </div>
         </div>
      </div>
   </section>
   <section class="video">
      <div class="container">
         <div class="video__inner">
            <div class="video__item wow animate__fadeInLeft" data-wow-offset="400">
               <a class="video__link" data-fancybox
                  href="https://www.youtube.com/watch?v=fm-ul0Gw0aw&t=17s&ab_channel=RichlySmall">
                  <img class="video__img" src="images/poster-1.jpg" alt="video poster">
               </a>
            </div>
            <div class="video__item wow animate__fadeIn" data-wow-offset="400">
               <a class="video__link" data-fancybox
                  href="https://www.youtube.com/watch?v=GNx0g-FtoFo&t=4s&ab_channel=LuxuryHomes">
                  <img class="video__img" src="images/poster-2.jpg" alt="video poster">
               </a>
            </div>
            <div class="video__item wow animate__fadeInRight" data-wow-offset="400">
               <a class="video__link" data-fancybox
                  href="https://www.youtube.com/watch?v=LCyN1hxQtdA&ab_channel=KirstenDirksen">
                  <img class="video__img" src="images/poster-3.jpg" alt="video poster">
               </a>
            </div>
         </div>
      </div>
   </section>

         <!--
   <section class="map">
      <div class="container">
         <div class="map__inner">
            <div class="map__iframe">
               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d68433.42202358539!2d-73.9511529427276!3d40.7101228073271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2z0JXQvNC_0LDQudGALdCh0YLQtdC50YIt0JHRltC70LTRltC90LM!5e0!3m2!1suk!2sua!4v1687690142833!5m2!1suk!2sua"
                  width="705" height="650" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="map__info">
               <h3 class="map__title">The Forest</h3>
               <p class="map__text">Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by
                  architect Sigurd Larsen. They all have an open space with a double bed, a double sofa bed, kitchen,
                  separate toilet and an outdoor shower. On the roof, surrounded by treetops, there is a terrace, which
                  is about nine meters above ground. The cottages are built around tall, old trees that go through the
                  entire cottage from floor to ceiling.</p>
               <a class="map__link" href="#">Read More</a>
            </div>
         </div>
      </div>
   </section>
   <section class="facilities">
      <div class="container">
         <div class="facilities__inner">
            <h3 class="facilities__title">Facilities</h3>
            <div class="facilities__items">
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#fridge" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Mini fridge</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#kitchenette" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Kitchenette</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#coffee-machine" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Coffee machine</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#kettle" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Electric tea kettle</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#parking" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Parking</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#breathtaking-views" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Breathtaking views</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#heating" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Floor heating</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#soket" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">230V</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#wifi" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Parking</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#shower" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Shower</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#toilets" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Flushing toilets</h5>
               </div>
               <div class="facilities__item">
                  <div class="facilities__img-box">
                     <svg class="facilities__svg">
                        <use xlink:href="../images/sprite.svg#beading" width="70" height="70"></use>
                     </svg>
                  </div>
                  <h5 class="facilities__subtitle">Bedding & towels</h5>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="more-about">
      <div class="container">
         <div class="more-about__inner">
            <div class="more-about__img-box more-about__img-box--left">
               <img class="more-about__img" src="images/more-about-image-1.jpg" alt="image">
            </div>
            <a class="more-about__link" href="#">More about us</a>
            <div class="more-about__img-box more-about__img-box--right">
               <img class="more-about__img" src="images/more-about-image-2.jpg" alt="image">
            </div>
         </div>
      </div>
   </section>
   <section class="contacts">
      <div class="container">
         <div class="contacts__inner">
            <div class="contacts__info">
               <h3 class="contacts__title">Stay in touch with us</h3>
               <div class="contacts__info-block">
                  <p class="contacts__address">Vesterborg, Denmark</p>
                  <a href="tel:+123456789000" class="contacts__link">+123 456 789 000</a>
                  <a href="mailto:info@theglasshuts.com" class="contacts__link">info@theglasshuts.com</a>
               </div>
               <div class="contacts__sicials">
                  <a class="contacts__sicials-link" href="https://www.instagram.com/" target="_blank">
                     <svg class="contacts__svg">
                        <use xlink:href="../images/sprite.svg#instagram" width="50" height="50"></use>
                     </svg>
                  </a>
                  <a class="contacts__sicials-link" href="https://uk-ua.facebook.com/" target="_blank">
                     <svg class="contacts__svg">
                        <use xlink:href="../images/sprite.svg#facebook" width="50" height="50"></use>
                     </svg>
                  </a>
                  <a class="contacts__sicials-link" href="https://twitter.com/" target="_blank">
                     <svg class="contacts__svg">
                        <use xlink:href="../images/sprite.svg#twitter" width="50" height="50"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="contacts__img-box">
               <img class="contacts__img" src="images/contacts-img.jpg" alt="house image">
               <div class="contacts__order">
                  <a class="contacts__btn" href="booking.html">Book Now</a>
                  <div class="contacts__price">
                     <span class="contacts__price-tag">from</span>
                     <span class="contacts__price-num">€3.200</span>
                     <span class="contacts__price-tag">per night</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   -->
</main>